
<h1>All Restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <p>
    <%= link_to restaurant.name, restaurant_path(restaurant.id) %>

  </p>

<% end %>

<% if @current_user.present? && @current_user.admin? %>
<div class="controls">
  <%= link_to "New Restaurant", new_restaurant_path(@restaurant) %>
</div>
<% end %>
