<h1>All Categories</h1>

<% @categories.each do |category| %>
  <p>
  <%= link_to category.name, category_path(category.id) %>
<% end %>


<% if @current_user.present? && @current_user.admin? %>
<div class="controls">
  <%= link_to "New category", new_category_path(@category) %>
</div>
<% end %>
